<li>
	{{name}}

	<button class="change-plain" data-id="{{id}}" data-newplain="{{plain}}">
		{{#if plain}}no condiments!{{else}}CONDIMENTS PLEASE!{{/if}}
	</button>

	<button class="delete-burg" data-id="{{this.id}}">DELETE!</button>
</li>
